<!-- Footer -->
    <footer>
    <div class="row">
        <div class="small-12 medium-4 columns">
        <h5>REACH US</h5>
            <address>Rockville, Maryland 20850
            United States</address>
            <a href="mailto:help@rockvilleremodeling.com">help@rockvilleremodeling.com</a>
            <p class="phone">(240) 731-8811</p>
            <div class="icons">
                <a href="https://www.yelp.com/biz/rockville-remodeling-rockville"><img src="/assets/img/yelp.svg" alt="yelp"></a>
                <a href="http://www.houzz.com/pro/rockvilleremodeling/rockville-remodeling-inc"><img src="/assets/img/houzz.svg" alt="houzz"></a>
                <a href="https://sr-rs.facebook.com/pages/Rockville-Remodeling-Inc/498938140196372"><img src="/assets/img/facebook.svg" alt="facebook"></a>
            </div>
       </div>
        <div class="epa small-12 medium-3 columns">
          <figure><img src="/assets/img/epa.png" alt="epa">
               <figcaption>NAT-F117172-1</figcaption>
          </figure>
        </div>
          <div class="ingener small-12 medium-3 columns">
            <figure>
              <a href="https://licensedirect.com/negovan-petkovic/4253522">
              <img src="/assets/img/negovan.png" alt="negovan licence"></a>
            </figure>
          </div>
      <div class="show-for-medium medium-2 columns">
          <ul class="menu vertical">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/services/kitchen">Kitchens</a></li>
              <li><a href="/services/bathrooms">Bathrooms</a></li>
              <li><a href="/services/miscellaneous">Miscellaneous</a></li>
              <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
    </div> 
       <div class="copy"> <span class="show-for-medium">Developed by <a href="http://www.mlignjatovic.com"> Mladen Ignjatovic</a></span> <p>Rockville Remodeling Inc. &copy {{ @date }}</p> </div>
    </footer>